body {
  background: white;
}

.container {
  display: flex;
  margin: auto;
  height: 800px;
  width: 500px;
}

button {
  height: 10%;
  width: 35%;
  font-size: medium;
  margin: 5px 5px 5px 5px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background: #E5B6D5;
  border-style: solid;
  border-width: 10px;
  border-top-color: #B2479A;
  border-bottom-color: #B2479A;
  border-right-color: #CC7FB5;
  border-left-color: #CC7FB5;
  margin: auto;


}

button:hover {
  background: #B2479A;
  color: #FFFFFF;
  border-style: solid;
  border-top-color: #CC7FB5;
  border-bottom-color: #CC7FB5;
  border-right-color: #E5B6D5;
  border-left-color: #E5B6D5;

}
