body {
  background: white;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: 100vw;

}

button {
  background: #E5B6D5;
  border: 10px solid;
  border-color: #B2479A #CC7FB5;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  height: 90px;
  letter-spacing: 4px;
  margin: 0 25px 0 25px;
  outline: none;
  width: 200px;
}

button:hover {
  background: #B2479A;
  border-color: #CC7FB5 #E5B6D5;
  border-style: solid;
  color: #FFFFFF;
}

@media only screen and (max-width: 650px) {

.container {
  align-content:space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

  #reset {
    border-width: 8px;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    margin-top: 20px;
    width: 200px;
  }
}
