body {
  background: white;
}

.container {
  display: flex;
  margin: auto;
  height: 500px;
  /*line-height: 250px;*/
  width: 500px;
  /*vertical-align: middle;
  text-align: center;*/
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-style: bold 700;
  color: #FFFFFF;
  background: #E5B6D5;
  border-style: solid;
  border-width: 3px;
  border-top-color: #B2479A;
  border-bottom-color: #B2479A;
  border-right-color: #CC7FB5;
  border-left-color: #CC7FB5;
  margin: auto;


}

button:hover {
  background: #B2479A;
  color: #FFFFFF;
  border-style: solid;
  border-width: 3px;
  border-top-color: #CC7FB5;
  border-bottom-color: #CC7FB5;
  border-right-color: #E5B6D5;
  border-left-color: #E5B6D5;

}
